<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Locale</key>
	<string>de-DE</string>
	<key>UI Strings</key>
	<dict>
		<key>bv00</key>
		<string>Batterie geladen</string>
		<key>bv01</key>
		<string>Batterie: 75 %</string>
		<key>bv02</key>
		<string>Batterie: 50 %</string>
		<key>bv03</key>
		<string>Batterie: 25 %</string>
		<key>bv04</key>
		<string>Batterie fast leer</string>
		<key>ev00</key>
		<string>Bitte verwenden Sie iTunes zur Wiederherstellung.</string>
		<key>ev01</key>
		<string>Bitte verwenden Sie iTunes zum Synchronisieren von Musik.</string>
		<key>sv00</key>
		<string>Genius-Mix</string>
		<key>sv01</key>
		<string>Alle Titel</string>
		<key>sv02</key>
		<string>Wiedergabeliste</string>
		<key>sv03</key>
		<string>Hörbuch</string>
		<key>sv04</key>
		<string>Podcast</string>
		<key>sv05</key>
		<string>iTunesU</string>
	</dict>
	<key>Version</key>
	<string>1.2</string>
</dict>
</plist>
