<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Locale</key>
	<string>el-GR</string>
	<key>UI Strings</key>
	<dict>
		<key>bv00</key>
		<string>Μπαταρία πλήρης</string>
		<key>bv01</key>
		<string>Μπαταρία 75%</string>
		<key>bv02</key>
		<string>Μπαταρία 50%</string>
		<key>bv03</key>
		<string>Μπαταρία 25%</string>
		<key>bv04</key>
		<string>Μπαταρία χαμηλή</string>
		<key>ev00</key>
		<string>Χρησιμοποιήστε το iTunes για επαναφορά.</string>
		<key>ev01</key>
		<string>Χρησιμοποιήστε το iTunes για συγχρονισμό μουσικής.</string>
		<key>sv00</key>
		<string>Σύνθεση Genius</string>
		<key>sv01</key>
		<string>Όλα τα τραγούδια</string>
		<key>sv02</key>
		<string>Λίστα αναπαραγωγής</string>
		<key>sv03</key>
		<string>Ηχοβιβλίο</string>
		<key>sv04</key>
		<string>Podcast</string>
		<key>sv05</key>
		<string>iTunesU</string>
	</dict>
	<key>Version</key>
	<string>1.2</string>
</dict>
</plist>
