<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Locale</key>
	<string>en-US</string>
	<key>UI Strings</key>
	<dict>
		<key>bv00</key>
		<string>Battery Full</string>
		<key>bv01</key>
		<string>Battery 75%</string>
		<key>bv02</key>
		<string>Battery 50%</string>
		<key>bv03</key>
		<string>Battery 25%</string>
		<key>bv04</key>
		<string>Battery Low</string>
		<key>ev00</key>
		<string>Please use iTunes to restore.</string>
		<key>ev01</key>
		<string>Please use iTunes to sync music.</string>
		<key>sv00</key>
		<string>Genius Mix</string>
		<key>sv01</key>
		<string>All Songs</string>
		<key>sv02</key>
		<string>Playlist</string>
		<key>sv03</key>
		<string>Audiobook</string>
		<key>sv04</key>
		<string>Podcast</string>
		<key>sv05</key>
		<string>iTunesU</string>
	</dict>
	<key>Version</key>
	<string>1.2</string>
</dict>
</plist>
