<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Locale</key>
	<string>th-TH</string>
	<key>UI Strings</key>
	<dict>
		<key>bv00</key>
		<string>แบตเตอรี่เต็ม</string>
		<key>bv01</key>
		<string>แบตเตอรี่ 75%</string>
		<key>bv02</key>
		<string>แบตเตอรี่ 50%</string>
		<key>bv03</key>
		<string>แบตเตอรี่ 25%</string>
		<key>bv04</key>
		<string>แบตเตอรี่ต่ำ</string>
		<key>ev00</key>
		<string>โปรดใช้ iTunes เพื่อกู้คืน</string>
		<key>ev01</key>
		<string>โปรดใช้ iTunes เพื่อเชื่อมเพลง</string>
		<key>sv00</key>
		<string>Genius Mix</string>
		<key>sv01</key>
		<string>ทุกเพลง</string>
		<key>sv02</key>
		<string>Playlist</string>
		<key>sv03</key>
		<string>หนังสือเสียง</string>
		<key>sv04</key>
		<string>Podcast</string>
		<key>sv05</key>
		<string>iTunes U</string>
	</dict>
	<key>Version</key>
	<string>1.2</string>
</dict>
</plist>
