<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Locale</key>
	<string>yue-CN</string>
	<key>UI Strings</key>
	<dict>
		<key>bv00</key>
		<string>電池已充滿</string>
		<key>bv01</key>
		<string>電池電量剩餘 75%</string>
		<key>bv02</key>
		<string>電池電量剩餘 50%</string>
		<key>bv03</key>
		<string>電池電量剩餘 25%</string>
		<key>bv04</key>
		<string>電池量低</string>
		<key>ev00</key>
		<string>請使用 iTunes 來回復</string>
		<key>ev01</key>
		<string>請使用 iTunes 來同步音樂</string>
		<key>sv00</key>
		<string>Genius 組曲</string>
		<key>sv01</key>
		<string>所有歌曲</string>
		<key>sv02</key>
		<string>播放列表</string>
		<key>sv03</key>
		<string>有聲書</string>
		<key>sv04</key>
		<string>Podcast</string>
		<key>sv05</key>
		<string>iTunesU</string>
	</dict>
	<key>Version</key>
	<string>1.2</string>
</dict>
</plist>
