<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AudiobookPlaylistIDs</key>
	<array/>
	<key>AudiobookTrackIDs</key>
	<array/>
	<key>EstimatedDeviceTotals</key>
	<dict>
		<key>freeDiskBytes</key>
		<integer>2013306880</integer>
		<key>otherDiskBytes</key>
		<integer>3080192</integer>
		<key>purgeableDiskBytes</key>
		<integer>0</integer>
		<key>reservedDiskBytes</key>
		<integer>52428800</integer>
		<key>supportsApplications</key>
		<false/>
		<key>supportsAudio</key>
		<true/>
		<key>supportsBooks</key>
		<false/>
		<key>supportsGames</key>
		<false/>
		<key>supportsLogs</key>
		<false/>
		<key>supportsPhotos</key>
		<false/>
		<key>supportsPurgeable</key>
		<false/>
		<key>supportsReserved</key>
		<false/>
		<key>supportsVideos</key>
		<false/>
		<key>totalAlertToneBytes</key>
		<integer>0</integer>
		<key>totalAlertToneSeconds</key>
		<integer>0</integer>
		<key>totalAlertToneTracks</key>
		<integer>0</integer>
		<key>totalApplicationBytes</key>
		<integer>0</integer>
		<key>totalApplications</key>
		<integer>0</integer>
		<key>totalAudioBytes</key>
		<integer>0</integer>
		<key>totalAudioSeconds</key>
		<integer>0</integer>
		<key>totalAudioTracks</key>
		<integer>0</integer>
		<key>totalAudiobookBytes</key>
		<integer>0</integer>
		<key>totalAudiobookSeconds</key>
		<integer>0</integer>
		<key>totalAudiobookTracks</key>
		<integer>0</integer>
		<key>totalBookBytes</key>
		<integer>0</integer>
		<key>totalBookTracks</key>
		<integer>0</integer>
		<key>totalBookletBytes</key>
		<integer>0</integer>
		<key>totalBookletTracks</key>
		<integer>0</integer>
		<key>totalDiskBytes</key>
		<integer>2016387072</integer>
		<key>totalGameBytes</key>
		<integer>0</integer>
		<key>totalGames</key>
		<integer>0</integer>
		<key>totalHomeVideoBytes</key>
		<integer>0</integer>
		<key>totalHomeVideoSeconds</key>
		<integer>0</integer>
		<key>totalHomeVideoTracks</key>
		<integer>0</integer>
		<key>totalITunesUBytes</key>
		<integer>0</integer>
		<key>totalITunesUSeconds</key>
		<integer>0</integer>
		<key>totalITunesUTracks</key>
		<integer>0</integer>
		<key>totalLogBytes</key>
		<integer>0</integer>
		<key>totalMovieBytes</key>
		<integer>0</integer>
		<key>totalMovieRentalBytes</key>
		<integer>0</integer>
		<key>totalMovieRentalSeconds</key>
		<integer>0</integer>
		<key>totalMovieRentalTracks</key>
		<integer>0</integer>
		<key>totalMovieSeconds</key>
		<integer>0</integer>
		<key>totalMovieTracks</key>
		<integer>0</integer>
		<key>totalMusicBytes</key>
		<integer>0</integer>
		<key>totalMusicSeconds</key>
		<integer>0</integer>
		<key>totalMusicTracks</key>
		<integer>0</integer>
		<key>totalMusicVideoBytes</key>
		<integer>0</integer>
		<key>totalMusicVideoSeconds</key>
		<integer>0</integer>
		<key>totalMusicVideoTracks</key>
		<integer>0</integer>
		<key>totalPhotoBytes</key>
		<integer>0</integer>
		<key>totalPhotos</key>
		<integer>0</integer>
		<key>totalPodcastBytes</key>
		<integer>0</integer>
		<key>totalPodcastSeconds</key>
		<integer>0</integer>
		<key>totalPodcastTracks</key>
		<integer>0</integer>
		<key>totalRingtoneBytes</key>
		<integer>0</integer>
		<key>totalRingtoneSeconds</key>
		<integer>0</integer>
		<key>totalRingtoneTracks</key>
		<integer>0</integer>
		<key>totalSystemBytes</key>
		<integer>0</integer>
		<key>totalTVShowBytes</key>
		<integer>0</integer>
		<key>totalTVShowRentalBytes</key>
		<integer>0</integer>
		<key>totalTVShowRentalSeconds</key>
		<integer>0</integer>
		<key>totalTVShowRentalTracks</key>
		<integer>0</integer>
		<key>totalTVShowSeconds</key>
		<integer>0</integer>
		<key>totalTVShowTracks</key>
		<integer>0</integer>
		<key>totalUserDataBytes</key>
		<integer>0</integer>
		<key>totalVideoBytes</key>
		<integer>0</integer>
		<key>totalVideoSeconds</key>
		<integer>0</integer>
		<key>totalVideoTracks</key>
		<integer>0</integer>
		<key>totalVoiceMemoBytes</key>
		<integer>0</integer>
		<key>totalVoiceMemoSeconds</key>
		<integer>0</integer>
		<key>totalVoiceMemoTracks</key>
		<integer>0</integer>
	</dict>
	<key>MusicAlbumIDs</key>
	<array/>
	<key>MusicArtistIDs</key>
	<array/>
	<key>MusicGenreNames</key>
	<array/>
	<key>MusicPlaylistIDs</key>
	<array/>
	<key>MusicTrackIDs</key>
	<array/>
	<key>PodcastChannelIDs</key>
	<array/>
	<key>PodcastPlaylistIDs</key>
	<array/>
	<key>PodcastTrackIDs</key>
	<array/>
	<key>iPodPrefs</key>
	<data>
	ZnJwZAEAGQABAAABwW2Th3CrWG7qXCwaxvHCeQAAAAEAAAABAAAAAAAAAAAAAAAAAAAA
	AAACAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAKH9zU1RXhKwABAAQAAAAAwW2Th3Cr
	WG4CAAAAAAAAAAAAAAAAAAAAAQABAAAAAAAAAAAAAwAAAAAAAAAAAAAAAAAAAAAAAAAA
	AQAAAAABAAAAAAAAAAAAAAEAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAP8AAAAAAQAAAAAA
	AAAAAAAAAHpoX0NOAAAAAAEAAAAAAAAADwAAAAAAAQABAAAAAAEBgAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQWRtaW5pc3RyYXRvcgAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFdJTi1WS1JHOERU
	UzRUSgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAQWRtaW5pc3RyYXRvcgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFdJTi1WS1JHOERUUzRUSgAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAA=
	</data>
	<key>iTunesVersion</key>
	<string>12.13.9</string>
</dict>
</plist>
